html
  head

  body
    h1 Hello World!
    form
      input#fileInput(type='file')
      input(type='submit')

      script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
      script(src='/assets/script.js')