html
  head
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css")
    link(rel="stylesheet" href="/assets/index.css")

  body
    div.container
      div.jumbotron
        h1.text-center Upload a file to view it's size in bytes.
        form.text-center
          input#fileInput(type='file')
          input(type='submit')
	 
      h2.text-center=Bytes

    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js")
    script(src='/assets/script.js')