html
  head
    

  body
    h1 Upload a file to view it's size in bytes.
    form
      input#fileInput(type='file')
      input(type='submit')
	 
    h2=Bytes

      script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
      script(src='/assets/script.js')